body{
    background-color: #74AFF2;
    /*cursor: pointer;*/
}
#canvas {
    position: fixed;
    left: 0px;
    top: 40px;
    background-color: white;
}
#canvas1{
    position: fixed;
    left: 0px;
    top: 40px;
    background-color: rgba(255, 255, 255, 0.00);
}
#canvas2{
    position: fixed;
    left: 0px;
    top: 40px;
    background-color: rgba(255, 255, 255, 0.00);
}
#canvas3{
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: rgba(255, 255, 255, 0.00);
}
#canvas4{
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: rgba(255, 255, 255, 0.00);
}
#canvas5{
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: rgba(255, 255, 255, 0.00);
}
.select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.button{
    position: fixed;
    right: 0px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    width: 40px;
    height: 40px;
    color: white;
}
#reset{
    position: fixed;
    top: 200px;
    right: 80px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    width: 80px;
    height: 40px;
    background-color: #4DDEFF;
    color: white;
}
#erase{
    position: fixed;
    top: 200px;
    right: 0px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    width: 80px;
    height: 40px;
    background-color: #00D0FF;
    color: white;
            }
/*5px*/
#a{
    background-color: #FF9159; 
    right: 40px;
    top: 240px;
}
/*10px*/
#b{
    background-color: #FF8547;
    right: 0px;
    top: 240px;
}
/*15px*/
#c{
    background-color: #FF7936;
    right: 40px;
    top: 280px;
}
/*20px*/
#d{
    background-color: #FF6D24;
    right: 0px;
    top: 280px;
}
/*25px*/
#e {
    background-color: #FF6112;
    right: 40px;
    top: 320px;
}
/*30px*/
#f {
    background-color: #FF5500;
    right: 0px;
    top: 320px;
}
/*white back*/
#g{
    background-color: white;
    right: 80px;
    top: 240px;
    width: 80px;
    color: black;
}
/*black back*/
#h{
    background-color: black;
    right: 80px;
    top: 280px;
    width: 80px;
    color: white;
}
/*solid mode*/
#i {
    background-color: #7291C4;
    right: 120px;
    top: 320px;
}
/*spray mode*/
#j {
    background-color: #6489C4;
    right: 80px;
    top: 320px;
}
/*Circle Brush*/
#k {
    background-color: #90E670;
    right: 80px;
    top: 360px;
    width: 80px;
}
/*Square Brush*/
#l {
    background-color: #52E31E;
    right: 0px;
    top: 360px;
    width: 80px;
}
/*LAY 1*/
#m{
    background-color: #EBC4FF;
    right: 40px;
    top: 400px;
}
/*LAY 2*/
#n{
    background-color: #E6B3FF;
    right: 0px;
    top: 400px;
}
/*LAY 3*/
#o {
    background-color: #E0A1FF;
    right: 40px;
    top: 440px;
}
/*LAY 4*/
#p {
    background-color: #D88AFF;
    right: 0px;
    top: 440px;
}
/*Draw a SQUARE*/
#q {
    background-color: #F5F2A6;
    right: 80px;
    top: 400px;
    width: 80px;
}
/*Draw a CIRCLE*/
#r {
    background-color: #EBE544;
    right: 80px;
    top: 440px;
    width: 80px;
}
/*
#colourpicker {
    position: fixed;
    top: 0px;
    right: 1024px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    width: 160px;
    height: 160px;
    background-color: #FF7C3B;
    color: white;
}
#set {
    position: fixed;
    top: 140px;
    right: 1024px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    width: 160px;
    height: 20px;
    background-color: #FF6D24;
    color: white;
    text-align: center;
}
    */
#specific {
    position: fixed;
    top: 280px;
    right: 864px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    width: 160px;
    height: 220px;
    background-color: #F7E83E;
}
/*DARK PURPLE*/
#button1 {
    right: 120px;
    top: 40px;
    background-color: #A944DB;
}
/*DARK BLUE*/
#button2 {
    right: 80px;
    top: 40px;
    background-color: #2D67C4;
}
/*DARK GREEN*/
#button3 {
    right: 40px;
    top: 40px;
    background-color: #42A61E;
}
/*RED*/
#button4 {
    right: 0px;
    top: 40px;
    background-color:#FF3636;
}
/*PURPLE*/
#button5 {
    right: 120px;
    top: 80px;
    background-color: #C44FFF;
}
/*BLUE*/
#button6 {
    right: 80px;
    top: 80px;
    background-color: #4089FF;
}
/*GREEN*/
#button7 {
    right: 40px;
    top: 80px;
    background-color: #57D629;
}
/*ORANGE*/
#button8 {
    right: 0px;
    top: 80px;
    background-color: #FF7C36;
}
/*LIGHT PURPLE*/
#button9 {
    right: 120px;
    top: 120px;
    background-color: #CD6BFF;
}
/*LIGHT BLUE*/
#button10 {
    right: 80px;
    top: 120px;
    background-color: #689EF7;
}
/*LIGHT GREEN*/
#button11 {
    right: 40px;
    top: 120px;
    background-color: #5EE82C;
}
/*LIGHT ORANGE*/
#button12 {
    right: 0px;
    top: 120px;
    background-color: #FFAD29;
}
/*PALE PURPLE*/
#button13 {
    right: 120px;
    top: 160px;
    background-color: #D88AFF;
}
/*PALE BLUE*/
#button14 {
    right: 80px;
    top: 160px;
    background-color: #89B4FA;
}
/*LIME GREEN*/
#button15 {
    right: 40px;
    top: 160px;
    background-color: #73FF40;
}
/*YELLOW*/
#button16 {
    right: 0px;
    top: 160px;
    background-color: #EBE544;
}
.ranges {
    position: fixed;
    right: 864px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    width: 160px;
    height: 20px;
    -webkit-appearance: none !important;
}
#range1 {
    top: 400px;
    background-color: #FF8547;
}
#range2 {
    top: 420px;
    background-color: #FF7936;
}
#range3 {
    top: 440px;
    background-color: #FF6D24;
}
#range4 {
    top: 460px;
    background-color: #FF6112;
}
#range5 {
    top: 480px;
    background-color: #FF5500;
}