body{background-color: #74AFF2;style="cursor:pointer";}
#canvas {
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: rgba(255, 255, 255, 0.00);
}
#canvas2{
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: white;
}
.button{
                position: fixed;
                left: 0px;
                padding: 0px;
                margin: 0px;
                border: 0px;
                width: 40px;
                height: 40px;
                color: white;
            }
            #reset{
                position: fixed;
                top: 160px;
                left: 864px;
                padding: 0px;
                margin: 0px;
                border: 0px;
                width: 80px;
                height: 40px;
                background-color: #4DDEFF;
                color: white;
            }
            #erase{
                position: fixed;
                top: 160px;
                left: 944px;
                padding: 0px;
                margin: 0px;
                border: 0px;
                width: 80px;
                height: 40px;
                background-color: #00D0FF;
                color: white;
            }
#a{
    background-color: #FF9159;
    left: 944px;
    top: 200px;
}
 #b{
    background-color: #FF8547;
    left: 984px;
    top: 200px;
}
#c{
    background-color: #FF7936;
    left: 944px;
    top: 240px;
}
#d{
    background-color: #FF6D24;
    left: 984px;
    top: 240px;
}
#e {
    background-color: #FF6112;
    left: 944px;
    top: 280px;
}
#f {
    background-color: #FF5500;
    left: 984px;
    top: 280px;
}
#g{
    background-color: white;
    left: 864px;
    top: 200px;
    width: 80px;
    color: black;
}
#h{
    background-color: black;
    left: 864px;
    top: 240px;
    width: 80px;
    color: white;
}
#i {
    background-color: #7291C4;
    left: 864px;
    top: 280px;
}
#j {
    background-color: #6489C4;
    left: 904px;
    top: 280px;
}
#k {
    background-color: #90E670;
    left: 864px;
    top: 320px;
    width: 80px;
}
#l {
    background-color: #52E31E;
    left: 944px;
    top: 320px;
    width: 80px;
}
/*
#colourpicker {
    position: fixed;
    top: 0px;
    left: 1024px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    width: 160px;
    height: 160px;
    background-color: #FF7C3B;
    color: white;
}
#set {
    position: fixed;
    top: 140px;
    left: 1024px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    width: 160px;
    height: 20px;
    background-color: #FF6D24;
    color: white;
    text-align: center;
}
    */
#specific {
    position: fixed;
    top: 280px;
    left: 864px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    width: 160px;
    height: 220px;
    background-color: #F7E83E;
}
#button1 {
    left: 864px;
    top: 0px;
    background-color: #A944DB;
}
#button2 {
    left: 904px;
    top: 0px;
    background-color: #2D67C4;
}
#button3 {
    left: 944px;
    top: 0px;
    background-color: #42A61E;
}
#button4 {
    left: 984px;
    top: 0px;
    background-color:#FF3636;
}
#button5 {
    left: 864px;
    top: 40px;
    background-color: #C44FFF;
}
#button6 {
    left: 904px;
    top: 40px;
    background-color: #4089FF;
}
#button7 {
    left: 944px;
    top: 40px;
    background-color: #57D629;
}
#button8 {
    left: 984px;
    top: 40px;
    background-color: #FF7C36;
}
#button9 {
    left: 864px;
    top: 80px;
    background-color: #CD6BFF;
}
#button10 {
    left: 904px;
    top: 80px;
    background-color: #689EF7;
}
#button11 {
    left: 944px;
    top: 80px;
    background-color: #5EE82C;
}
#button12 {
    left: 984px;
    top: 80px;
    background-color: #FFAD29;
}
#button13 {
    left: 864px;
    top: 120px;
    background-color: #D88AFF;
}
#button14 {
    left: 904px;
    top: 120px;
    background-color: #89B4FA;
}
#button15 {
    left: 944px;
    top: 120px;
    background-color: #73FF40;
}
#button16 {
    left: 984px;
    top: 120px;
    background-color: #EBE544;
}
.ranges {
    position: fixed;
    left: 864px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    width: 160px;
    height: 20px;
    -webkit-appearance: none !important;
}
#range1 {
    top: 400px;
    background-color: #FF8547;
}
#range2 {
    top: 420px;
    background-color: #FF7936;
}
#range3 {
    top: 440px;
    background-color: #FF6D24;
}
#range4 {
    top: 460px;
    background-color: #FF6112;
}
#range5 {
    top: 480px;
    background-color: #FF5500;
}
#export {
    top: 440px;
    left: 864px;
    width: 160px;
    height: 120px;
    background: #5EE82C;
}